<!doctype html>
<html>
    <head>
    </head>
    <body>
        <form method="post" action="/login">
            <input type="username" id="username" name="username">
            <input type="password" id="password" name="password">
            <input type="submit">
        </form>
    </body>
</html>