<!doctype html>
<html>
<head>

</head>
<body>

<form method="post" action="/login">

    <input type="password" id="password" name="password">
    <input type="username" id="username" name="username">
    <input type="submit">

</form>
</body>
</html>